/src/__history
/unittest/Win32/Debug

/unittest/__history
/samples/basic/Win32/Debug
/samples/basic/__history
/samples/basic/src/__history
/samples/common/src/__history

/samples/master-detail/Win32/Debug
/samples/master-detail/__history
/samples/master-detail/src/__history
/samples/FireDAC/basic/Win32/Debug

/samples/FireDAC/basic/__history
/samples/FireDAC/basic/src/__history
/samples/FireDAC/common/src/__history
/samples/FireDAC/master-detail/Win32/Debug/dcu
/samples/FireDAC/master-detail/__history
/samples/FireDAC/master-detail/src/__history
/samples/FireDAC/master-detail/Win32/Debug
/unittest/*.~dsk
/samples/FireDAC/*.dsk
/samples/FireDAC/basic/*.skincfg
/samples/FireDAC/master-detail/*.skincfg
/samples/FireDAC/PrjGrpSamples.~dsk
/unittest/InfraDB4DPrjGrpTests.$$$
/unittest/*.dsk
/unittest/*.skincfg
