/src/__history
/unittest/Win32/Debug

/unittest/__history
/samples/basic/Win32/Debug
/samples/basic/__history
/samples/basic/src/__history
/samples/common/src/__history

/samples/master-detail/Win32/Debug
/samples/master-detail/__history
/samples/master-detail/src/__history
