/src/__history
/unittest/Win32/Debug

/unittest/__history
/samples/basic/Win32/Debug
/samples/basic/__history
/samples/basic/src/__history
/samples/common/src/__history

/samples/master-detail/Win32/Debug
/samples/master-detail/__history
/samples/master-detail/src/__history
/samples/FireDAC/basic/Win32/Debug

/samples/FireDAC/basic/__history
/samples/FireDAC/basic/src/__history
/samples/FireDAC/common/src/__history
/samples/FireDAC/master-detail/Win32/Debug/dcu
/samples/FireDAC/master-detail/__history
/samples/FireDAC/master-detail/src/__history
/samples/FireDAC/master-detail/Win32/Debug
/unittest/*.~dsk
/samples/FireDAC/*.dsk
/samples/FireDAC/basic/*.skincfg
/samples/FireDAC/master-detail/*.skincfg
/samples/FireDAC/PrjGrpSamples.~dsk
/unittest/InfraDB4DPrjGrpTests.$$$
/unittest/*.dsk
/unittest/*.skincfg
/unittest/*.tvsconfig
/unittest/*.local
/unittest/*.identcache
/samples/ado/__history/ADO.Connection.dfm.~1~
/samples/ado/__history/ADO.Connection.dfm.~2~
/samples/ado/__history/ADO.Connection.dfm.~3~
/samples/ado/__history/ADO.Connection.dfm.~4~
/samples/ado/__history/ADO.Connection.pas.~1~
/samples/ado/__history/BasicSample.dpr.~1~
/samples/ado/__history/BasicSample.dpr.~2~
/samples/ado/__history/BasicSample.dpr.~3~
/samples/ado/__history/BasicSample.dpr.~4~
/samples/ado/__history/BasicSampleADO.dpr.~1~
/samples/ado/__history/BasicSampleADO.dpr.~2~
/samples/ado/__history/BasicSampleADO.dpr.~3~
/samples/ado/__history/BasicSampleADO.dpr.~4~
/samples/ado/__history/BasicSampleADO.dpr.~5~
/samples/ado/__history/BasicSampleADO.dpr.~6~
/samples/ado/__history/BasicSampleADO.dpr.~7~
/samples/ado/__history/BasicSampleADO.dpr.~8~
/samples/ado/__history/Database.ADO.dfm.~1~
/samples/ado/__history/Database.ADO.dfm.~2~
/samples/ado/__history/Database.ADO.dfm.~3~
/samples/ado/__history/Database.ADO.dfm.~4~
/samples/ado/__history/Database.ADO.pas.~10~
/samples/ado/__history/Database.ADO.pas.~11~
/samples/ado/__history/Database.ADO.pas.~12~
/samples/ado/__history/Database.ADO.pas.~13~
/samples/ado/__history/Database.ADO.pas.~14~
/samples/ado/__history/Database.ADO.pas.~15~
/samples/ado/__history/Database.ADO.pas.~16~
/samples/ado/__history/Database.ADO.pas.~17~
/samples/ado/__history/Database.ADO.pas.~18~
/samples/ado/__history/Database.ADO.pas.~9~
/samples/ado/__history/Main.View.dfm.~10~
/samples/ado/__history/Main.View.dfm.~11~
/samples/ado/__history/Main.View.dfm.~12~
/samples/ado/__history/Main.View.dfm.~13~
/samples/ado/__history/Main.View.dfm.~14~
/samples/ado/__history/Main.View.dfm.~5~
/samples/ado/__history/Main.View.dfm.~6~
/samples/ado/__history/Main.View.dfm.~7~
/samples/ado/__history/Main.View.dfm.~8~
/samples/ado/__history/Main.View.dfm.~9~
/samples/ado/__history/Main.View.pas.~10~
/samples/ado/__history/Main.View.pas.~11~
/samples/ado/__history/Main.View.pas.~12~
/samples/ado/__history/Main.View.pas.~13~
/samples/ado/__history/Main.View.pas.~14~
/samples/ado/__history/Main.View.pas.~15~
/samples/ado/__history/Main.View.pas.~16~
/samples/ado/__history/Main.View.pas.~17~
/samples/ado/__history/Main.View.pas.~18~
/samples/ado/__history/Main.View.pas.~9~
/samples/ado/__history/User.DAO.dfm.~10~
/samples/ado/__history/User.DAO.dfm.~1~
/samples/ado/__history/User.DAO.dfm.~2~
/samples/ado/__history/User.DAO.dfm.~3~
/samples/ado/__history/User.DAO.dfm.~4~
/samples/ado/__history/User.DAO.dfm.~5~
/samples/ado/__history/User.DAO.dfm.~6~
/samples/ado/__history/User.DAO.dfm.~7~
/samples/ado/__history/User.DAO.dfm.~8~
/samples/ado/__history/User.DAO.dfm.~9~
/samples/ado/__history/User.DAO.pas.~13~
/samples/ado/__history/User.DAO.pas.~14~
/samples/ado/__history/User.DAO.pas.~15~
/samples/ado/__history/User.DAO.pas.~16~
/samples/ado/__history/User.DAO.pas.~17~
/samples/ado/__history/User.DAO.pas.~18~
/samples/ado/__history/User.DAO.pas.~19~
/samples/ado/__history/User.DAO.pas.~20~
/samples/ado/__history/User.DAO.pas.~21~
/samples/ado/__history/User.DAO.pas.~22~
/samples/ado/DCU/*.dcu
/samples/ado/BasicSampleADO.stat
/samples/ado/Executavel/*.exe
/samples/ado/__history/*.~20~
/samples/ado/Executavel/BasicSampleADO.rsm
/samples/ado/__history/BasicSampleADO.dpr.~9~
/samples/ado/__history/Database.ADO.pas.~19~
/samples/ado/__history/Main.View.pas.~19~
/samples/ado/__history/Main.View.pas.~21~
/samples/ado/__history/Main.View.pas.~22~
/samples/ado/__history/Main.View.pas.~23~
/samples/ado/__history/Main.View.pas.~24~
/samples/ado/__history/User.BC.pas.~1~
/samples/ado/__history/User.DAO.dfm.~11~
/samples/ado/__history/User.DAO.pas.~23~
